################# foundry.toml can not read JSON file yet #################
RPC="" # RPC endpoint to use
API_KEY="" # Explorer API key to verify contracts


############# This var is only used by Hardhat to know which #############
###################### typechain version to compile ######################
USE_TYPECHAIN_V5="false"
